.env
node_modules/
__pycache__/
z««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««««+ta/
k8s/01-secrets.yaml
k8s/imagepullsecrets.yaml
